/* GOOGLE FONTS
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Asap Condensed', sans-serif;
*/


/* MISE EN FORME DES TEXTES */

body {
    font-family: 'Exo', sans-serif;
}

section {
    text-align: center
}

img {
    padding: 15px;
}

row {
    display: table-cell;
    vertical-align: middle;
}

#banner {
    background-color: #1fa597;
    margin-top: 50px;
    padding-bottom: 60px
}

#accueil {
    background-color: #fbfbfb;
    margin-top: 50px;
    padding-bottom: 60px
}

#espace {
    background-color: #80cbc4;
    margin-top: 50px;
    padding-bottom: 60px
}

#service {
    background-color: #fbfbfb;
    margin-top: 50px;
    padding-bottom: 60px
}

#tarifs {
    background-color: #fbfbfb;
    margin-top: 50px;
    padding-bottom: 60px
}

.mentions {
    background-color: #35383a;
    color: #ffdea5;
}

.title {
    font-size: 24px;
    padding: 15px;
}

.texte {
    font-size: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.center {
    text-align: center;
}

.menuSide {
    position: absolute;
}

a:hover {
    color: #47E3FF;
}

.menuBurger {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.menuBurger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.menuBurger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menuBurger span:first-child {
    transform-origin: 0% 0%;
}

.menuBurger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menuBurger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ccc;
    ;
}

.menuBurger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menuBurger input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

.menu {
    position: absolute;
    width: 300px;
    height: 1200px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: rgba(170, 170, 170, 0.56);
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

.menuBurger input:checked ~ ul {
    transform: scale(1, 1);
}